<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <div id="Wrapper">
    
    <div id="tasks_wrapper">
      <h1>Tasks</h1>

    </div>

    <div id="addTask_wrapper">
      <h1>Add Task</h1>
    </div>

    <div id="comTasks_wrapper">
      <h2>Completed</h2>
    </div>

  </div>
  </body>
</html>
